<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" th:href="@{/css/style3.css}">
</head>

<body>
  <div class="center">
    <div class="form">
      <img src="https://image.flaticon.com/icons/png/512/1946/1946429.png" />
      <h1>Reset Password</h1>
      <input type="password" name="Password" placeholder="Password" />
      <input type="password" name="Password" placeholder="Confirm Password" />
      <button id="btn">Reset</button>
    </div>
  </div>
</body>

</html>